@import url('https://fonts.googleapis.com/css?family=Roboto');

/* >>>>>>>>>>>>>>>>>>>>>>>>>Global Styling <<<<<<<<<<<<<<<<<<<<<<<*/
:root {
  --main-text-color: #fff;
  --main-hover-background-color: #979696;
  --box-hover-background-color: #444343;
  --primary-color: #f4f4f4;
  --secondary-color: #fff;
  /* --secondary-color: #ff00ff; */
  --primary-background-color: #14bdac;
  --primary-background-color: #080808a8;
  --hover-background: #f4f4f41c;
  --secondary-background-color: #1da1f2;
  /* Alerts */
  --danger-alert-color: #ec2727;
  --danger-alert-background: #f0dddd;
  --secondary-alert-color: #f4f4f4;
  --secondary-alert-background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.primary {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

/* Forms */
.form {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
  /* text-align: center; */
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.3rem 0rem;
}

input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.7;
}

.form-sm {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 2rem;
  text-align: left;
}

.form-sm h1 {
  text-align: center;
  margin: 2rem 0rem;
}

.form-sm label {
  text-align: left !important;
}

.form-sm input[type='submit'] {
  margin-top: 1rem;
}

/* Buttons */

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin: 2rem;
  border-radius: 10px;
}

.btn-primary {
  color: var(--primary-color);
  border: none;
  background: var(--primary-background-color);
}

.btn:hover {
  opacity: 0.7;
}

/* Alerts */

.alert {
  display: block;
  padding: 0.2rem;
  width: 100%;
}

.alert-danger {
  background: var(--danger-alert-background);
  color: var(--danger-alert-color);
}

.alert-secondary {
  background: var(--secondary-alert-background);
  color: var(--secondary-alert-color);
}

/* Mobile design */

.hide-mobile-item {
  display: none;
}

/* Navbars */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.3rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  padding: 1rem;
  color: var(--main-text-color);
}

.navbar ul a:hover {
  background: var(--main-hover-background-color);
  border-radius: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HOME <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.homeFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  margin: 3rem 0rem;
}

.screenSize {
  height: 90%;
}

.backgroundPic {
  background: #333 url(./img/ryan-quintal-Q5H8WRXCZyw-unsplash.jpg) no-repeat
    center center / cover;
  height: 100vh;
}

.games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.img-hover-zoom {
  border-radius: 10px;
  overflow: hidden;
}

.img-hover-zoom img {
  border-radius: 10px;
  width: 100%;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* >>>>>>>>>>>>>>>>>>>>> JOIN <<<<<<<<<<<<<<<<<<<<*/
#join {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* >>>>>>>>>>>>>>>>>>>>> TIC TAC TOE <<<<<<<<<<<<<<<<<<<<*/
#tic-tac-toe {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leave {
  color: #fff;
  background: red;
}

.game-space {
  width: 90%;
  max-width: 1100px;
  margin-bottom: 2rem;
  border-radius: 20px;
  background: var(--primary-background-color);
}

.game-chat-layout {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* ===== Game Box ===== */

.game-box {
  /* max-height: 65vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.score-board {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.score-board p {
  font-size: 1.4rem;
}

.live-updates p {
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
}

.tic-tac-toe-board {
  position: relative;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem;
}

.box {
  /* padding: 4rem; */
  height: 6.6rem;
  width: 6.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.box i {
  color: var(--main-hover-background-color);
}

.you-win {
  background: gold !important;
}
.you-win {
  -webkit-animation: win_color_change 2s infinite alternate;
  -moz-animation: win_color_change 2s infinite alternate;
  -ms-animation: win_color_change 2s infinite alternate;
  -o-animation: win_color_change 2s infinite alternate;
  animation: win_color_change 2s infinite alternate;
}

@-webkit-keyframes win_color_change {
  0% {
    background: transparent;
    background-color: #03b403;
  }
  /* 50% { */
  /* background-color: #006200; */
  /* } */
  100% {
    background: transparent;
    background: darkgreen;
    /* background-color: #00cc00; */
  }
}
@-moz-keyframes win_color_change {
  0% {
    background: transparent;
    background-color: #03b403;
  }
  /* 50% { */
  /* background-color: #006200; */
  /* } */
  100% {
    background: transparent;
    background: darkgreen;
    /* background-color: #00cc00; */
  }
}
@-ms-keyframes win_color_change {
  0% {
    background: transparent;
    background-color: #03b403;
  }
  /* 50% { */
  /* background-color: #006200; */
  /* } */
  100% {
    background: transparent;
    background: darkgreen;
    /* background-color: #00cc00; */
  }
}
@-o-keyframes win_color_change {
  0% {
    background: transparent;
    background-color: #03b403;
  }
  /* 50% { */
  /* background-color: #006200; */
  /* } */
  100% {
    background: transparent;
    background: darkgreen;
    /* background-color: #00cc00; */
  }
}
@keyframes win_color_change {
  0% {
    background: transparent;
    background-color: #03b403;
  }
  /* 50% { */
  /* background-color: #006200; */
  /* } */
  100% {
    background: transparent;
    background: darkgreen;
    /* background-color: #00cc00; */
  }
}

/* lose */
.you-lose {
  background: red !important;
}
.you-lose {
  -webkit-animation: lose_color_change 2s infinite alternate;
  -moz-animation: lose_color_change 2s infinite alternate;
  -ms-animation: lose_color_change 2s infinite alternate;
  -o-animation: lose_color_change 2s infinite alternate;
  animation: lose_color_change 2s infinite alternate;
}

@-webkit-keyframes lose_color_change {
  0% {
    background-color: red;
    /* background-color: darkred; */
  }
  /* 50% { */
  /* } */
  100% {
    /* background-color: orangered; */
    background: darkred;
  }
}
@-moz-keyframes lose_color_change {
  0% {
    background-color: red;
    /* background-color: darkred; */
  }
  /* 50% { */
  /* } */
  100% {
    /* background-color: orangered; */
    background: darkred;
  }
}
@-ms-keyframes lose_color_change {
  0% {
    background-color: red;
    /* background-color: darkred; */
  }
  /* 50% { */
  /* } */
  100% {
    /* background-color: orangered; */
    background: darkred;
  }
}
@-o-keyframes lose_color_change {
  0% {
    background-color: red;
    /* background-color: darkred; */
  }
  /* 50% { */
  /* } */
  100% {
    /* background-color: orangered; */
    background: darkred;
  }
}
@keyframes lose_color_change {
  0% {
    background-color: red;
    /* background-color: darkred; */
  }
  /* 50% { */
  /* } */
  100% {
    /* background-color: orangered; */
    background: darkred;
  }
}

.box:hover {
  cursor: pointer;
  background: var(--box-hover-background-color);
}

.box-1 {
  border-right: 0.3rem solid var(--main-hover-background-color);
  border-bottom: 0.3rem solid var(--main-hover-background-color);
}

.box-2 {
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-bottom: 0.3rem solid var(--main-hover-background-color);
  border-right: 0.3rem solid var(--main-hover-background-color);
}

.box-3 {
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-bottom: 0.3rem solid var(--main-hover-background-color);
}

.box-4 {
  border-top: 0.3rem solid var(--main-hover-background-color);
  border-right: 0.3rem solid var(--main-hover-background-color);
  border-bottom: 0.3rem solid var(--main-hover-background-color);
}

.box-5 {
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-top: 0.3rem solid var(--main-hover-background-color);
  border-right: 0.3rem solid var(--main-hover-background-color);
  border-bottom: 0.3rem solid var(--main-hover-background-color);
}

.box-6 {
  border-bottom: 0.3rem solid var(--main-hover-background-color);
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-top: 0.3rem solid var(--main-hover-background-color);
}

.box-7 {
  border-top: 0.3rem solid var(--main-hover-background-color);
  border-right: 0.3rem solid var(--main-hover-background-color);
}

.box-8 {
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-top: 0.3rem solid var(--main-hover-background-color);
  border-right: 0.3rem solid var(--main-hover-background-color);
}

.box-9 {
  border-left: 0.3rem solid var(--main-hover-background-color);
  border-top: 0.3rem solid var(--main-hover-background-color);
}

/* Pop Up */
.popup {
  /* position: absolute; */
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.popup-inner {
  position: relative;
  margin: auto;
  border-radius: 20px;
  /* background: white; */
  padding: 1rem;
  /* margin: 1rem; */
  /* margin-top: 2rem; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.play-again {
  padding: 0.3rem 0.4rem;
  background: green;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.play-again:hover {
  opacity: 0.7;
}
.quit {
  padding: 0.3rem 0.4rem;
  background: red;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.quit:hover {
  opacity: 0.7;
}

/* Chat Area */
.chat-box {
  max-height: 65vh;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  background: #333;
  padding: 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.live-users {
  border-bottom: 1px solid grey;
}

.chat-content {
  padding: 0.6rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.message {
  display: flex;
  margin-bottom: 0.5rem;
}
.message .chat-msg {
  border-radius: 10px;
  padding: 0.1rem 0.4rem;
}

/* p {
  color: #0deb0d;
} */

.admin-message {
  justify-content: center;
}
.admin-message .chat-msg {
  text-align: center;
  border-radius: 10px;
  background: grey;
  opacity: 0.5;
}

.user-message {
  justify-content: flex-end;
}
.user-message .chat-msg {
  border-radius: 10px;
  background: red;
  opacity: 0.75;
  max-width: 12rem;
}

.other-message {
  justify-content: flex-start;
}
.other-message .chat-msg {
  border-radius: 10px;
  background: #f4f4f4;
  color: #333;
  opacity: 0.8;
  max-width: 12rem;
}

.other-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.other-name {
  font-weight: bold;
}

.message-form {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.message-form textarea {
  border-radius: 5px;
  background: #333;
  color: #fff;
  border: 1px solid grey;
  padding: 0.5rem;
  width: 100%;
  resize: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  margin: 1rem;
  border-radius: 5px;
  height: 4px;
  width: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.message-form textarea:focus {
  outline-width: 0;
}

.send-button {
  padding: 1.2235px 5.998px;
  padding: 4px 8px;
  transition: opacity 0.2s ease-in;
  text-align: center;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: orangered;
  cursor: pointer;
}

.send-button:hover {
  opacity: 0.8;
}
