@import url('https://fonts.googleapis.com/css?family=Roboto');

/* >>>>>>>>>>>>>>>>>>>>>>>>>Global Styling <<<<<<<<<<<<<<<<<<<<<<<*/
:root {
  --main-text-color: #fff;
  --main-hover-background-color: #979696;
  --primary-color: #f4f4f4;
  --secondary-color: #fff;
  /* --secondary-color: #ff00ff; */
  --primary-background-color: #14bdac;
  --primary-background-color: #080808a8;
  --hover-background: #f4f4f41c;
  --secondary-background-color: #1da1f2;
  /* Alerts */
  --danger-alert-color: #ec2727;
  --danger-alert-background: #f0dddd;
  --secondary-alert-color: #f4f4f4;
  --secondary-alert-background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.primary {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

/* Forms */
.form {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

input {
  width: 100%;
  height: 2rem;
  margin: 0.2rem 0rem;
}

.form-sm {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  text-align: left;
}

.form-sm h1 {
  text-align: center;
  margin: 2rem 0rem;
}

.form-sm label {
  text-align: left !important;
}

.form-sm input[type='submit'] {
  margin-top: 1rem;
}

/* Buttons */

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin: 2rem;
  border-radius: 10px;
}

.btn-primary {
  color: var(--primary-color);
  border: none;
  background: var(--primary-background-color);
}

.btn:hover {
  opacity: 0.7;
}

/* Alerts */

.alert {
  display: block;
  padding: 0.2rem;
  width: 100%;
}

.alert-danger {
  background: var(--danger-alert-background);
  color: var(--danger-alert-color);
}

.alert-secondary {
  background: var(--secondary-alert-background);
  color: var(--secondary-alert-color);
}

/* Mobile design */

.hide-mobile-item {
  display: none;
}

/* Navbars */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.3rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  padding: 1rem;
  color: var(--main-text-color);
}

.navbar ul a:hover {
  background: var(--main-hover-background-color);
  border-radius: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HOME <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.overlay {
  /* Overlay */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.homeFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home h1 {
  margin: 3rem 0rem;
}

.screenSize {
  height: 90%;
}

.backgroundPic {
  background: #333 url(./img/ryan-quintal-Q5H8WRXCZyw-unsplash.jpg) no-repeat
    center center / cover;
  height: 100vh;
}

.games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.img-hover-zoom {
  border-radius: 10px;
  overflow: hidden;
}

.img-hover-zoom img {
  border-radius: 10px;
  width: 100%;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

/* >>>>>>>>>>>>>>>>>>>>> TIC TAC TOE <<<<<<<<<<<<<<<<<<<<*/
#tic-tac-toe {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leave {
  color: #fff;
  background: red;
}

.game-space {
  width: 90%;
  max-width: 1500px;
  border-radius: 20px;
  background: var(--primary-background-color);
}

.game-chat-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* ===== Game Box ===== */

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.score-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.score-box p {
  font-size: 2rem;
}

.tic-tac-toe-board {
  /* width: 100%; */
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem;
}

.box {
  padding: 4rem;
  text-align: center;
}

.one {
  border-right: 0.5rem solid var(--main-hover-background-color);
  border-bottom: 0.5rem solid var(--main-hover-background-color);
}

.two {
  border-bottom: 0.5rem solid var(--main-hover-background-color);
  border-right: 0.5rem solid var(--main-hover-background-color);
}

.three {
  border-bottom: 0.5rem solid var(--main-hover-background-color);
}

.four {
  border-right: 0.5rem solid var(--main-hover-background-color);
  border-bottom: 0.5rem solid var(--main-hover-background-color);
}

.five {
  border-right: 0.5rem solid var(--main-hover-background-color);
  border-bottom: 0.5rem solid var(--main-hover-background-color);
}

.six {
  border-bottom: 0.5rem solid var(--main-hover-background-color);
}

.seven {
  border-right: 0.5rem solid var(--main-hover-background-color);
}

.eight {
  border-right: 0.5rem solid var(--main-hover-background-color);
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #333;
  padding: 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-content {
  padding: 0.6rem;
}

.message-form {
  display: flex;
  align-items: center;
}

.message-form textarea {
  border-radius: 10px;
  background: #333;
  color: #fff;
  border: 1px solid grey;
  padding: 0.5rem;
  width: 100%;
  resize: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  border-radius: 20px;
  background: rgb(109, 107, 107);
  width: 12px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.message-form textarea:focus {
  outline-width: 0;
}

.send-button {
  padding: 1.2235px 5.998px;
  padding: 4px 8px;
  transition: opacity 0.2s ease-in;
  text-align: center;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: orangered;
}

.send-button:hover {
  opacity: 0.8;
}
