/*  Tablet ============= */
@media (max-width: 1100px) {
  .game-chat-layout {
    grid-template-columns: 1.5fr 1fr;
  }

  .tic-tac-toe-board {
    margin: 3rem;
  }

  .box {
    padding: 3rem;
  }
}

/* Unique to Ipad only*/
@media (max-width: 900px) {
  .img-hover-zoom {
    width: 15rem;
  }

  .img-hover-zoom img {
    height: 13rem;
  }
}
