/* Mobile ========================*/
@media (max-width: 700px), (max-height: 500px) {
  .backgroundPic {
    height: 100%;
    background: #686767;
  }

  .navbar {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
  }

  .nav-backg-pic {
    background: #333 url(./img/ryan-quintal-Q5H8WRXCZyw-unsplash.jpg) no-repeat
      center center / cover;
  }

  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul a {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100vw;
    border-top: 5px solid #fff;
  }
  .navbar ul li:last-child {
    border-bottom: 5px solid #fff;
  }

  /* Join =============== */
  .btn-primary {
    background: #333 url(./img/ryan-quintal-Q5H8WRXCZyw-unsplash.jpg) no-repeat
      center center / cover;
    color: #333;
    font-weight: bolder;
  }

  /* About =============== */
  #about {
    /* height: 120vh; */
  }

  #about-container {
    padding: 1rem !important;
  }

  #about i {
    font-size: 7rem;
  }

  /* Home =============== */

  .img-hover-zoom {
    width: 100%;
  }

  #home .primary-header {
    font-size: 1.5rem;
  }

  .games {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    /* gap: 3rem; */
  }

  .games h2 {
    font-size: 1rem;
  }

  .games-item {
    margin-bottom: 1rem;
  }

  .img-hover-zoom {
    /* border-radius: 10px;
    overflow: hidden; */
    width: 15rem;
  }

  .img-hover-zoom img {
    /* border-radius: 10px;
    width: 100%; */
    height: 15rem;
  }

  .screenSize {
    height: 100%;
  }

  /* Join Page */
  .greetings {
    margin-top: 1rem;
  }

  #join input {
    border-radius: 10px;
  }

  /* TIC TAC TOE */
  #tic-tac-toe {
    height: 60%;
  }

  .game-space {
    margin-bottom: 1rem;
    width: 100vw;
    border-radius: 0px;
  }

  .game-chat-layout {
    grid-template-columns: 1fr;
  }

  .score-box p {
    font-size: 1rem;
  }

  .tic-tac-toe-board {
    margin: 1rem 0rem;
  }

  .chat-box {
    display: none;
    /* height: 50vh;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
  }
}
